{{##$:
var common = require('./common'),
    default_obj = common.default_obj,
    list_ud_icons = require('./list_ud_icons');
#}}

{{##field_string(it, f, d, pojo, attrs, tag, icon, prefix, suffix, filter, content_loc):
<div{{? tag }}><{{tag}}{{?}}
    dtap="1"
    v-xon="dtap:{{pojo}}._.vprops.f{{f}} ^= {{? it.condition }}({{pojo}}.{{it.condition}} ? 1 : 0){{??}}1{{?}}"
    v-show="!{{pojo}}._.vprops.f{{f}}"
    {{% for(var i in attrs) { %}}
    {{i}}="{{attrs[i]}}"
    {{% } %}}
    >{{prefix}}
    {{? it.condition || it.delete_condition }}
    <span v-show="{{pojo}}.{{it.condition || it.delete_condition}}">
    {{?}}
    {{? icon }}
    <i class="{{icon}}"></i>
    {{?}}
    {{? it.delete_id }}
    {{% out += list_ud_icons.delete_icons(it, pojo, 'handle', it.delete_id, it.delete_args, it.delete_hf, it.delete_sf, it.delete_zkf); %}}
    {{?}}
    {{? it.condition || it.delete_condition }}
    </span>
    {{?}}
    {{? content_loc === 1 }}<content></content>{{?}}
    <span v-text="{{pojo}}.{{f}}{{? filter }}| {{filter}}{{?? d.o }}| {{% switch (d.o) { case 1: out+='hms'; break; case 2: out+='ymd'; break; case 4: out+='ymdtime'; break; } %}}{{?}}"></span>{{suffix}}{{? content_loc === 2 }}<content></content>{{?}}
{{? tag }}</{{tag}}>{{?}}</div>
<div class="mdl small input"
    v-show="{{pojo}}._.vprops.f{{f}}">
  <input type="text"{{? it.disable }} v-disable="{{it.disable}}"{{?}} v-xmodel="{{it.handler_id}}__dtap__1:{{pojo}}.{{f}}" />
  <div class="bottom-right icons">
    <i class="delete icon" v-xon="click:{{pojo}}._.vprops.f{{f}} ^= ({{pojo}}._.vprops['{{f}}'] ? 0 : 1)"></i>
  </div>
</div>
#}}

{{% /*
    TODO: shouldn't mask be 5? (hide readonly fields) 
*/%}}
{{% 
var f = it.field, 
    descriptor = it.$initvar, 
    d = d = descriptor[f],
    pojo = it.POJO || 'pojo';
%}}
{{% out += field_string(it, f, d, pojo, it.$attrs || default_obj, it.$icon ? null : it.$tag, it.$icon, it.$prefix || '', it.$suffix || '', it.$filter, it.content_loc || 2); %}}
