{{##$:
var c = require('vui/constants'), form_fields = require('./form_fields');
#}}

{{%
var pojo = it.POJO || 'pojo', 
    pager = it.PAGER, 
    handler = it.handler || 'handle', 
    tag = it.tag || 'form',
    itoggle = it.itoggle,
    disable;

if (it.df != null) {
    disable = pojo + "['" + it.df + "']";
    if (it.zkf) disable += "=== 'AAAAAAAAAAAA'";
} else if (it.ef != null) {
    if (it.zkf) disable = pojo + "['" + it.ef + "'] !== 'AAAAAAAAAAAA'";
    else disable = "!" + pojo + "['" + it.ef + "']";
} else {
    disable = it.disable;
}
%}}
{{? itoggle }}
<hr/>
<i class="resize icon small" v-itoggle="click!:[ ['{{itoggle}}', 'small', 'full'] ]"></i>
{{?? it.hr }}
<hr/>
{{?? it.close }}
<i class="close icon" v-close="click:'{{it.close}}'"></i>
{{?}}
<{{tag}} class="ui form" v-clear
    v-xon="keyup{{? it.modal }}__{{pojo}}._.msg{{?}}:{{pojo}}._.msg = null | key esc"
    v-class="success:{{pojo}}._.state &amp; {{c.STATE_SUCCESS}}, 
             error:{{pojo}}._.state &amp; {{c.STATE_ERROR}}, 
             warning:{{pojo}}._.state &amp; {{c.STATE_WARNING}},
             loading:{{pojo}}._.state &amp; {{c.STATE_LOADING}}">
  {{? it.title }}
  <p class="title">{{it.title}}</p>
  {{?}}
  {{? !it.content_before_button }}
  <content></content>
  {{?}}
  {{% if (!it.without_fields) { out += form_fields.body(it, it); } %}}
  {{? it.content_before_button }}
  <content></content>
  {{?}}
  {{% if (!it.without_msg) { out += form_fields.form_msg(it, pojo); } %}}
  <button type="submit" class="ui fluid submit button{{? it.btn_class }} {{it.btn_class}}{{?}}"
      {{? pager }}
      v-disable="{{? disable }}{{disable}} || {{?}}{{pager}}.store.state &amp; 8"
      {{?? it.STATE }}
      v-disable="{{? disable }}{{disable}} || {{?}}{{it.STATE}} &amp; 8"
      {{?? disable }}
      v-disable="{{disable}}"
      {{?}}
      v-xon="click:{{handler}}({{it.handler_id}}, {{pojo}})">
    {{it.btn_text}}
  </button>
</{{tag}}>
{{? it.hr_after }}
<hr/>
{{?}}
