{{##$:
var c = require('vui/constants'),
    common = require('./common');
#}}

{{##field_enum(it, f, d, pojo, i, ffid):
<div class="fluid picker">
  <select{{? ffid }} id="{{ffid}}"{{?}} v-xmodel="{{pojo}}.{{f}}">
    {{? !it.update }}
    <option value=""></option>
    {{?}}
    {{* d.v:v:i}}
    <option value="{{v}}">{{d.$v[i]}}</option>
    {{*}}
  </select>
</div>
#}}
{{##field_bool(it, f, d, pojo, i, ffid):
<div class="ui checkbox">
  <input{{? ffid }} id="{{ffid}}"{{?}} type="checkbox" v-xmodel="{{pojo}}.{{f}}"/>
</div>
#}}
{{##field_textarea(it, f, d, pojo, i, ffid):
<div class="ui input">
  <textarea{{? ffid }} id="{{ffid}}"{{?}} v-xmodel="{{pojo}}.{{f}}"></textarea>
  {{? d.$h }}
  <div class="help-text">{{d.$h}}</div>
  {{?}}
  <div v-text="{{pojo}}._.vprops.{{f}}"></div>
</div>
#}}
{{##field_default(it, f, d, pojo, i, ffid):
<div class="ui input">
  <input{{? ffid }} id="{{ffid}}"{{?}} type="{{? d.pw }}password{{??}}text{{?}}" v-xmodel="{{pojo}}.{{f}}"/>
  {{? d.$h }}
  <div class="help-text">{{d.$h}}</div>
  {{?}}
  <div v-text="{{pojo}}._.vprops.{{f}}"></div>
</div>
#}}
{{##form_msg(it, pojo)=
<div class="ui message" 
    v-show="{{pojo}}._.msg{{? it.update}} &amp;&amp; {{pojo}}._.state &amp; {{c.MASK_STATUS}}{{?}}"
    v-class="success:{{pojo}}._.state &amp; {{c.STATE_SUCCESS}}, 
             error:{{pojo}}._.state &amp; {{c.STATE_ERROR}},
             warning:{{pojo}}._.state &amp; {{c.STATE_WARNING}}">
  <i class="close icon" v-xon="click:{{pojo}}._.msg = null"></i>
  <span v-text="{{pojo}}._.msg"></span>
</div>
#}}

{{##body(it, root)=
{{%
var descriptor = it.$initvar, 
    excludes = it.excludes || common.default_obj,
    show_fields = it.show_fields || common.default_obj,
    array = descriptor.$fdf, 
    mask = it.update ? 13 : 3, 
    pojo = it.POJO || 'pojo',
    ffid,
    f, sf,
    d;

if (descriptor.$fmf) {
    for (var i = 0, len = descriptor.$fmf.length; i < len; i++) {
        f = descriptor.$fmf[i];
        out += body({
            $initvar: descriptor[f].d,
            update: it.update,
            without_vclass: it.without_vclass,
            POJO: pojo+'.'+f
        }, root);
    }
}
ffid = root.ffid;
if (ffid && array.length) root.ffid = null;
%}}
{{% for (var i = 0, len = array.length; i < len; i++) { %}}
{{% f = array[i]; d = descriptor[f]; %}}
{{% if (!d.t || (d.a & mask) || excludes[f]) continue; %}}
<div {{? (sf=show_fields[f]) }}v-show="{{sf}}"{{?}}
    class="{{? d.m === 2}}required {{?}}field"{{? !it.without_vclass}} v-class="error:{{pojo}}._.vprops.{{f}}"{{?}}>
  <label>{{d.$n}} {{? d.m === 2}}*{{?}}</label>
  {{? d.t === 1 }}
  {{% out += field_bool(it, f, d, pojo, i, ffid); %}}
  {{?? d.t === 16 }}
  {{% out += field_enum(it, f, d, pojo, i, ffid); %}}
  {{?? d.ta }}
  {{% out += field_textarea(it, f, d, pojo, i, ffid); %}}
  {{??}}
  {{% out += field_default(it, f, d, pojo, i, ffid); %}}
  {{?}}
</div>
{{% ffid = null; %}}
{{% } %}}
#}}

<content></content>
{{% out += body(it, it); %}}

