{{##$:
var common = require('../common'), 
    c = common.c,
    filters = require('./filters');
#}}

{{##menu_content(it, update, pager, dpager, hid_suffix):
<div class="item">
  <div class="ui small further left icon input">
    <input type="text"
        v-listsearch="{{it.search_key || '3'}}__{{it.search_hid || c.HANDLE_ENTRY_SEARCH}}{{hid_suffix}}:{{pager}}"{{? it.title }} placeholder="{{it.title}}"{{?}}
        {{? update }}
        v-disable="{{dpager}}.store.state &amp; {{c.STATE_LOADING}} || (
            !{{pager}}.store.size &amp;&amp; 
            !({{pager}}.store.state &amp; {{c.STATE_LOCAL_SEARCH}}))"
        {{??}}
        v-disable="!{{pager}}.store.size &amp;&amp; !({{pager}}.store.state &amp; {{c.STATE_LOCAL_SEARCH}})"
        {{?}}
      />
    <i class="icon search"></i>
  </div>
</div>
<div class="right menu">
  <div class="item">
    <a v-toggle="click:'3__.1'">
      <i class="icon filter"></i>
    </a>
  </div>
</div>
#}}

{{##item_input(it, pojo, update, hid_suffix):
<div class="two fields">
  <div class="field">
    <div class="ui input">
      <input type="text" placeholder="{{it.k_title}}"
          v-disable="{{pojo}}._.entry_filter_new.flags{{? update }} || pager.state &amp; {{c.MASK_RPC_DISABLE}}{{?}}"
          v-suggest="{{it.k_suggest}}:{{pojo}}._.entry_new.vprops.{{it.k_field}}"/>
    </div>
  </div>
  <div class="field">
    <div class="ui input">
      <input type="text" placeholder="{{it.v_title}}" c-list="3__-.1"
          v-disable="{{pojo}}._.entry_filter_new.flags{{? update }} || pager.state &amp; {{c.MASK_RPC_DISABLE}}{{?}}"
          v-xmodel="{{it.input_hid || c.HANDLE_ENTRY_INPUT}}__flags__7{{hid_suffix}}:{{pojo}}._.entry_new.{{it.v_field}}" />
    </div>
  </div>
</div>
#}}

{{% 
var pojo = it.POJO,
    update = it.update,/* || 0 !== pojo.indexOf('pojo_new'),*/
    pager = pojo + '.pager',
    dpager = update ? (it.DPAGER || 'pager') : '',
    descriptor = it.$initvar,
    hid_suffix = update ? '__update__1' : '';
%}}

<div class="ui attached large secondary pointing menu">
{{% out += menu_content(it, update, pager, dpager, hid_suffix); %}}
</div>
<div class="ui tab">
{{% out += filters.body(it, it.filters, descriptor, pojo + '.entry_filter_new', hid_suffix); %}}
</div>
<div v-xpartial="pager_controls:{ top: true, reverse_icon: true, content_loc: 0,
    PAGER: '{{pojo}}._.pager', without_rpc_reload:1, without_rpc_newer:1, without_rpc_older:1 }">
  <div class="item">
    <div class="ui tiny icon buttons">
      <button type="button" class="ui button"
          v-class="active:{{pojo}}._.entry_filter_new.flags &amp; 1"
          v-xon="click1:handle({{it.sort_hid || c.HANDLE_ENTRY_SORT}}, {v: 0 === ({{pojo}}._.entry_filter_new.flags &amp; 1){{? update }}, update: 1{{?}}})"
          v-disable="2 > {{pojo}}._.pager.size || ({{pojo}}._.entry_filter_new.flags ^ 2) >= 6">
        <i class="icon sort"></i>
      </button>
    </div>
  </div>
</div>
<content></content>
{{% if (!it.item_select) out += item_input(it, pojo, update, hid_suffix); %}}

