{{##$:
var common = require('../common'), c = common.c;
#}}

{{% var pager = it.PAGER, dpager = it.DPAGER || pager; %}}

{{? pager }}
<div class="item">
  <div class="ui small further left icon input">
    {{? it.nosearch }}
    {{? it.title }}<input type="text" placeholder="{{it.title}}" disabled />{{?}}
    {{??}}
    <input type="text" v-listsearch="{{? it.search_key }}{{it.search_key}}:{{?}}{{pager}}"{{? it.title }} placeholder="{{it.title}}"{{?}}
        {{? !it.without_disable }}
        v-disable="{{dpager}}.store.state &amp; {{c.STATE_LOADING}} || (
            !{{dpager}}.store.size &amp;&amp; 
            !({{dpager}}.store.state &amp; {{c.STATE_LOCAL_SEARCH}}))"
        {{?}}
        />
    <i class="icon search"></i>
    {{?}}
  </div>
</div>
{{?? it.title }}
<div class="item">
  <div class="ui small further left icon input">
    <input type="text" placeholder="{{it.title}}" disabled />
  </div>
</div>
{{?}}
<div class="right menu">
  {{? it.itoggle_id }}
  <div class="item">
    <a v-itoggle="click!:[ ['{{it.itoggle_id}}', 'small', 'full'] ]">
      <i class="icon resize small"></i>
    </a>
  </div>
  {{?? it.toggle_id }}
  <div class="item">
    <a v-itoggle="click:[ ['{{it.toggle_id}}', 'small', 'full'{{? it.toggle_hid }}, {{it.toggle_hid}}{{?}}] ]">
      <i class="icon resize full"></i>
    </a>
  </div>
  {{?}}
  {{? it.custom_content }}
  <content></content>
  {{?? !it.nocontent }}
  <div class="item">
    <div {{? it.id }}id="{{it.id}}" {{?}}class="dropdown">
      <div v-toggle="click:'1'">
        <i class="down triangle icon"></i>
      </div>
      <ul class="dropdown-menu" v-close="click:'1'">
        <content></content>
      </ul>
    </div>
  </div>
  {{?}}
</div>
