{{##$:
var common = require('../common'), 
    c = common.c,
    filters = require('./filters'),
    enum_select = require('./enum_select'),
    filters = require('./filters');
#}}

/* No preset */
{{##field_suggest(it, f, display, pojo, nf, hid, skind, disable):
<div class="ui input">
  <input type="text" placeholder="{{display}}"
      v-disable="{{disable}}"
      v-suggest="{{% if (hid.charAt(0) !== '$') out += skind.substring(skind.lastIndexOf('$')+1) + '__'; %}}{{hid}}:{{pojo}}.{{nf}}.{{f}}"/>
</div>
#}}

{{##filter_fields(it, jso, descriptor, fields, pojo, nf):
{{% var f, d, hid, disable, display, item, suggestKind; %}}
<div class="field" v-show="{{pojo}}['{{nf}}'].$show && {{pojo}}['{{nf}}'].show">
{{%
for (var i = 0, len = fields.length; i < len; i++) {
    f = String(fields[i]);
    if (jso['$i'+f]) continue; /* immutable */
    
    d = descriptor[f];
    hid = nf + '__flags__3__ff__' + jso['$f'+f] + '__f__' + f;
    disable = pojo + '.' + nf + '.disable';
    display = jso['$r'+f] ? d.$n + ' *' : d.$n;
    suggestKind = jso['$s'+f];
    if (!suggestKind) item = {f:f, hid:hid, disable:disable, $:display};
    
    if (suggestKind) {
        out += field_suggest(it, f, display, pojo, nf, jso[suggestKind] + '__' + hid, suggestKind, disable);
    } else if (d.t === 1) {
        item.active = pojo + "['" + nf + "']['" + f + "'] !== null";
        out += filters.field_bool(it, item, descriptor, pojo + '.' + nf, '', '', d.$n);
    } else if (d.t === 16) {
        out += filters.field_enum(it, item, descriptor, pojo + '.' + nf, '', '');
    } else if (jso['$p'+f]) {
        /* string prefix search */
        item.hid += '__preset$nv__1';
        out += filters.field_default(it, item, descriptor, pojo + '.' + nf, '', '');
    } else {
        out += filters.field_default(it, item, descriptor, pojo + '.' + nf, '', '', !d['o']);
        if (jso['$e'+f]) {
            /* TODO do not hardcode 'End' */
            item.f += '$';
            item.hid += '__ef__' + f + '$__df__' + f;
            item.$ = 'End ' + d.$n;
            out += filters.field_default(it, item, descriptor, pojo + '.' + nf, '', '');
        }
    }
}
%}}
</div>
#}}

{{% 
var iv = it.$initvar,
    target = iv.target,
    jsoArray = iv.jso_array,
    valueArray = iv.value_array,
    displayArray = iv.display_array,
    len = jsoArray.length,
    i = 0, j = 0,
    jso, fields;
%}}
<div class="fluid picker">
{{%
out += enum_select.main({
    excludes: iv.excludes,
    includes: iv.includes,
    pojo: target,
    field: '0',
    handler_id: '0',
    d_override: {v: valueArray, $v: displayArray},
    disable: 'pager.state & 8'
});
%}}
</div>
<form class="ui form" onsubmit="return false;">
{{% 
for (;i < len; ++i) {
    jso = jsoArray[i];
    fields = jso.$fields;
    if (!fields) continue;
    out += filter_fields(it, jso, jso.$descriptor, fields, target, String(valueArray[i]));
}
%}}
</form>

