{{##$:
var common = require('../common'), c = common.c;
#}}

{{##append_items(it, items):
{{% for (var i = items.length; i-- > 0;) { if (items[i] !== 'filter') { out += ", `2." + i + ":3"; } } %}}
#}}

{{##icon_search(it, pager):
<i class="icon search"
    v-appendto="4.0__0.0__0.0"
    t-listsearch="1.0"
    v-listsearch="{{? it.search_key }}{{it.search_key}}:{{?}}{{pager}}"
    v-disable="1.0:{{pager}}.store.state &amp; {{c.STATE_LOADING}} || (
        !{{pager}}.store.size &amp;&amp; 
        !({{pager}}.store.state &amp; {{c.STATE_LOCAL_SEARCH}})
)"></i>
#}}

{{##append_prefix(it, content_items, inline):
{{%
while (content_items > 0) {
    out += '`1.' + (content_items--) + ':4.0__0.1, ';
}

if (inline) {
    out += '`';
}
out += '1.0:4.0__0.1';
%}}
#}}

{{%
var pager = it.PAGER,
    attrs = it.attrs,
    items = it.items,
    empty = items && !items.length,
    inline = it.inline,
    content_items = it.content_items || 0;

if (empty) {
    out += '<content></content>';
    if (pager && !it.nosearch) {
        out += icon_search(it, pager);
    }
    
    out += '<div v-appendto="';
    for (var i = content_items || 1; i-- > 0;) {
        if (inline || i) {
            out += '`';
        }
        out += '1.' + i + ':4.0__0.1';
        if (i) {
            out += ', ';
        }
    }
    out += '"></div>';
    return out;
}
%}}

  {{? inline }}
  <div class="item"{{? attrs }}{{% for(var i in attrs) { %}}{{i}}="{{attrs[i]}}"{{% } %}}{{?}}>
    {{? items }}
    {{% for (var x = items.length; x-- > 0;) { %}}
    <a v-toggle="~click:'3.{{x}}'"><i class="icon {{items[x]}}"></i></a>
    {{% } %}}
    {{??}}
    <a v-toggle="~click:'3.0'"><i class="icon add"></i></a>
    <a v-toggle="~click:'3.1'"><i class="icon filter"></i></a>
    {{?}}
    {{? !content_items }}
    <content></content>
    {{?}}
  </div>
  {{??}}
  <div class="item"{{? attrs }}{{% for(var i in attrs) { %}}{{i}}="{{attrs[i]}}"{{% } %}}{{?}}>
    <div class="dropdown">
      <div v-toggle="click:'1'">
        <i class="down triangle icon"></i>
      </div>
      <ul class="dropdown-menu" v-close="click:'1'">
        {{? items }}
        {{% for (var x = items.length; x-- > 0;) { %}}
        <li v-toggle="~click:'5.{{x}}'"><a><i class="icon {{items[x]}}"></i></a></li>
        {{% } %}}
        {{??}}
        <li v-toggle="~click:'5.0'"><a><i class="icon add"></i></a></li>
        <li v-toggle="~click:'5.1'"><a><i class="icon filter"></i></a></li>
        {{?}}
        {{? !content_items }}
        <content></content>
        {{?}}
      </ul>
    </div>
  </div>
  {{?}}
  {{? content_items }}
  <content></content>
  {{?}}
  {{? pager && !it.nosearch }}
  {{% out += icon_search(it, pager); %}}
  {{?}}
  <div v-appendto="{{% out += append_prefix(it, content_items, inline); %}}{{? items }}{{% out += append_items(it, items); %}}{{??}}, `2.0:3{{?}}"></div>
